<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 py-3">
      {% from "macros/contact.html" import render_oftc %}
      <h3 class="text-secondary display-5 mb-4"><i class="text-primary pr-2 fas fa-table-tennis-png"></i> {{ _('Chat with us on') }} {{ render_oftc() }}</h3>
      <p class="text-tpo"><span class="text-primary nick"><a href="https://matrix.to/#/#tor:matrix.org">#tor</a></span> - {{ _("Ask questions about using Tor.") }}</p>
      <p class="text-tpo"><span class="text-primary nick"><a href="https://matrix.to/#/#tor-dev:matrix.org">#tor-dev</a></span> - {{ _("Discuss Tor-related coding and protocols. Ideas are welcome.") }}</p>
      <p class="text-tpo"><span class="text-primary nick"><a href="https://matrix.to/#/#tor-l10n:matrix.org">#tor-l10n</a></span> - {{ _("Get in touch with other translators") }}</p>
      <p class="text-tpo"><span class="text-primary nick"><a href="https://matrix.to/#/#tor-meeting:matrix.org">#tor-meeting</a></span> - {{ _("Watch or join publicly logged team meetings.") }}</p>
      <p class="text-tpo"><span class="text-primary nick"><a href="https://matrix.to/#/#tor-project:matrix.org">#tor-project</a></span> - {{ _("Discuss organization and community related topics: meetups and outreach.") }}</p>
      <p class="text-tpo"><span class="text-primary nick"><a href="https://matrix.to/#/#tor-relays:matrix.org">#tor-relays</a></span> - {{ _("Discuss running a Tor relay.") }}</p>
      <p class="text-tpo"><span class="text-primary nick"><a href="https://matrix.to/#/#tor-south:matrix.org">#tor-south</a></span> - {{ _("Talk with Tor's global south community.") }}</p>
      <p class="text-tpo"><span class="text-primary nick"><a href="https://matrix.to/#/#tor-www:matrix.org">#tor-www</a></span> - {{ _("Talk with us about improvements on our websites.") }}</p>
      <p class="text-tpo"><span class="text-primary nick"><a href="https://matrix.to/#/#tor-ux:matrix.org">#tor-ux</a></span> - {{ _("Discuss UX related ideas.") }}</p>
    </div>
    <div class="d-block d-sm-none container py-3">
      <div class="row border-bottom border-light"><p></p></div>
    </div>
    <div class="col-md-4 py-3">
      <h3 class="text-secondary display-5 mb-4"><i class="text-primary pr-2 fas fa-comments-png"></i> {{ _("Join the community") }}</h3>
      <ul class="jobs-ul text-primary">
          <li class="py-2"><i class="display-5 fab fa-discourse-png"></i><a class="pl-3" href="https://forum.torproject.net" title="{{ _('Tor Project Forum') }}" target="_blank">{{ _('Tor Project Forum') }}</a></li>
      </ul>
      <h3 class="text-secondary display-5 mb-4"><i class="text-primary pr-2 fas fa-hashtag-png"></i> {{ _("Find us on Social Media") }}</h3>
      <ul class="jobs-ul text-primary">
        <li class="py-2"><i class="display-5 fab fa-twitter-png-purple"></i><a class="pl-3" href="https://twitter.com/torproject" title="@torproject" target="_blank">Twitter</a></li>
        <li class="py-2"><i class="display-5 fab fa-facebook-png-purple"></i><a class="pl-3" href="https://www.facebook.com/TorProject" title="Tor Project" target="_blank">Facebook</a></li>
        <li class="py-2"><i class="display-5 fab fa-linkedin-png-purple"></i><a class="pl-3" href="https://www.linkedin.com/company/tor-project/" title="Tor Project" target="_blank">Linkedin</a></li>
        <li class="py-2"><i class="display-5 fab fa-mastodon-png-purple"></i><a class="pl-3" href="https://mastodon.social/@torproject" title="Tor Project" target="_blank">Mastodon</a></li>
        <li class="py-2"><i class="display-5 fab fa-instagram-png-purple"></i><a class="pl-3" href="https://www.instagram.com/torproject/" title="@torproject" target="_blank">Instagram</a></li>
        <li class="py-2"><i class="display-5 fab fa-youtube-png-purple"></i><a class="pl-3" href="https://www.youtube.com/user/TheTorProject/" title="Tor Project" target="_blank">YouTube</a></li>
        <li class="py-2"><i class="display-5 fab fa-telegram-png-purple"></i><a class="pl-3" href="https://t.me/torproject" title="@torproject" target="_blank">Telegram</a></li>

      </ul>
    </div>
  </div>
</div>
<div class="container-fluid p-4 bg-dark">
  <div class="row bg-dark justify-content-center pt-3">
    <h3 class="text-white display-4">{{ _('Volunteer with Tor') }}</h3>
  </div>
  <div class="row bg-dark justify-content-center p-3">
    <h4 class="text-white display-5">
      <a class="text-white" href="https://community.torproject.org/" target="_blank" title="{{ _('Get Involved') }}"><u>{{ _('Get Involved') }}</u></a>
    </h4>
  </div>
</div>
<div class="container pt-5 justify-content-center">
  <div class="row ml-5 mr-5">
    <a class=" h4 text-primary" href="https://lists.torproject.org" target="_blank">{{ _('Join an email list') }} <small class="fa fa-arrow-right-png p-1" title="icon arrow-right" aria-hidden="true"></small></a>
  </div>
  <div class="row ml-5 mr-5 pt-3 preamble">
    <p>{{ _("Our teams collaborate in open channels, including email lists, you are welcome to join. If you have a question for a specific team not answered on our support portal, you can ask the appropriate list. You're welcome to subscribe and just watch, too :)") }}</p>
  </div>
</div>
<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="oval-3 mt-3 p-2"><i class="text-primary fas fa-spider-png"></i></div>
      </div>
      <div class="row mt-3 mr-5">
        <a class="h4 text-primary" href="https://support.torproject.org/misc/bug-or-feedback/" target="_blank">{{ _('Report a bug or give feedback.') }}</a>
        <p class="text-tpo">{{ _('Tor relies on the support of users and volunteers around the world to help us improve our software and resources, so your feedback is extremely valuable to us (and to all Tor users).') }}</p>
      </div>
      <div class="row">
        <div class="oval-3 mt-3 p-2"><i class="text-primary fas fa-flag-png"></i></div>
      </div>
      <div class="row mt-3 mr-5">
        <a class="h4 text-primary" href="https://community.torproject.org/relay/community-resources/bad-relays/" target="_blank">{{ _('Tell us about a bad relay.') }}</a>
        <p class="text-tpo">{{ _('If you find a relay that you think is malicious, misconfigured, or otherwise broken, please check out our wiki page and blog post on how to report it.') }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="oval-3 mt-3 p-2"><i class="text-primary fas fa-lock-png"></i></div>
      </div>
      <div class="row mt-3 mr-5">
        <h4 class="text-primary">{{ _('Report a security issue.') }}</h4>
	<p class="text-tpo">{{ _("If you've found a security issue in one of our projects or in our infrastructure, please email security@torproject.org. If you want to encrypt your mail, you can get the OpenPGP public key for this address from") }} <a href="https://keys.openpgp.org/search?q=security%40torproject.org" target="_blank">{{ _('keys.openpgp.org.') }}</a> {{ _("Here is the fingerprint:") }} </p>
      </div>
      <div class="row mt-3 mr-5">
        <p class="nick text-primary">835B 4E04 F6F7 4211 04C4  751A 3EF9 EF99 6604 DE41 <br />
        <p class="text-tpo">{{ _("If you wish to participate in our") }} <a href="https://hackerone.com/torproject" target="_blank">{{ _('bug bounty program,') }}</a> {{ _("please be aware, submitting a security issue to a third-party website carries certain risks that we cannot control, as a result we'd prefer the report directly.") }} </p>
      </div>
    </div>
 </div>
</div>
<div class="container py-3">
  <div class="row border-bottom border-light"><p></p></div>
</div>
<div class="container py-3">
  <div class="row">
    <div class="col-md-8 p-0 pr-5">
      <h3 class="text-primary display-5">{{ _('Email us') }}</h3>
      <p class="text-tpo">{{ _('For questions and comments about Tor the non-profit organization: trademark questions, affiliation and coordination, contract inquiries, etc, please email frontdesk@torproject.org. For donor-related questions, contact giving@torproject.org') }}.</p>
    </div>
    <div class="d-block d-sm-none container py-3">
      <div class="row border-bottom border-light"><p></p></div>
    </div>
    <div class="col-md-4 p-0">
      <h3 class="text-primary display-5">{{ _('Send us Mail') }}</h3>
      <p class="text-tpo">
        The Tor Project<br>
        PO Box 5<br>
        Winchester, NH 03470<br>
        USA
      </p>
    </div>
  </div>
</div>
